name = "stu-workers"
main = "src/index.js"
compatibility_date = "2025-02-15"


[vars]
MASTER_KEY = "your-secret-key-here"  # Set this in your environment
RATE_LIMIT_PER_IP = "200"  # Can be overridden in the Cloudflare dashboard

[[kv_namespaces]]
binding = "RATE_LIMIT"
id = "fb6569b345384a18ad8afcbf52d2c987"
preview_id = "7f7bfbddb4dc462c8fa3947e63b9c12a"

[[kv_namespaces]]
binding = "POLLS"
id = "24b31e8bb7ea459c95c384478e8c227e"
preview_id = "26ebe5c63f8c413faeaada64667ef1b0"


[build]
command = "npm install"
