name = "stu-workers"
main = "src/index.js"
compatibility_date = "2025-02-15"

[[d1_databases]]
binding = "DB"
database_name = "stu-workers"
database_id = "b44ec761-32e0-48ac-88df-54e585d42dd1"


[vars]
RATE_LIMIT_PER_IP = "200"  # Can be overridden in the Cloudflare dashboard

[[kv_namespaces]]
binding = "RATE_LIMIT"
id = "6fd047f6e0e848b4ad7e36d62bd88788"
preview_id = "7f7bfbddb4dc462c8fa3947e63b9c12a"

[build]
command = "npm install"
